// Global Styles

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    font-family: 'IBM Plex Mono', monospace;
}

// Main Styles

.main {
    width: 100%;
    height: 100%;

    &__content {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #161616;
        color: #fff;

        form {
            margin-bottom: 2rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            input {
                background: none;
                border-radius: 5rem;
                padding: .5rem 2rem;
                outline: none;
                border: 1px solid slateblue;
                color: #fff;
                font-family: 'IBM Plex Mono', monospace;
                font-size: 1rem;

                &::placeholder {
                    color: slateblue;
                    font-family: 'IBM Plex Mono', monospace;
                }
            }
        }

        li {
            list-style-type: none;
            margin: 1rem 0;
            font-size: 1rem;
            padding-left: 2rem;
            transition: .3s ease-in-out;
        }

        .not-found {
            font-size: 5rem;
            color: salmon;
            font-weight: 700;
            margin: 0;
            padding: 0;
        }
    }
}